nav {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

nav.down {
  transform: translateY(-100%);
}

nav.up {
  box-shadow: -1px 3px 23px -2px rgba(0, 0, 0, 0.3);
  transform: translateY(0);
}
